footer{
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 7vh;
    box-sizing: border-box;
    padding: 1%;
    background-image: linear-gradient(to top, var(--light-blue), var(--blue) 70%);
}
footer .col{
    color: #fff;
}