.galery-title{
    border-bottom: 2px var(--black) solid;
    border-top: 2px var(--black) solid;
    display: inline-block;
    padding: 7px 15px 0 15px;
}
.wrapper{
    margin: 0 auto;
    text-align: center;
    margin: 20px 0 100px 0;
}
.galery-geral-title{
    margin-bottom: 30px;
}
.img-container{
    margin: 20px auto 0 auto;
}
.img-wrapper{
    width: 1350px;
    height: 640px;
    margin: 0 auto;
    position: relative;
}
.image-collage{
    position: absolute;
    cursor: pointer;
    filter: drop-shadow(7px 5px 10px #3a3a3a2c);
    transition: 1s;
}
.image-collage:hover{
    filter: drop-shadow(7px 5px 5px #3a3a3a54);
}
.normal{
    height: 200px;
}
.big{
    height: 420px;
}
.one-image{
    left: 20px;
}
.two-image{
    left: 240px;
    width: 424px;
}
.three-image{
    left: 685px;
}
.four-image{
    left: 1127px;
}
.five-image{
    left: 20px;
    top: 220px;
}
.six-image{
    top: 220px;
    left: 463px;
}
.seven-image{
    top: 220px;
    left: 1127px;
    width: 200px;
}
.eight-image{
    top: 440px;
    left: 463px;
}
.nine-image{
    top: 440px;
    left: 793px;
}
.most-titles{
    margin-top: 100px;
}