.galery-title{
    border-bottom: 2px var(--black) solid;
    border-top: 2px var(--black) solid;
    display: inline-block;
    padding: 7px 15px 0 15px;
}
.wrapper{
    margin: 0 auto;
    text-align: center;
    margin: 20px 0 100px 0;
}
.galery-geral-title{
    margin-bottom: 30px;
}
.img-container{
    margin: 20px auto 0 auto;
}
.img-wrapper{
    position: relative;
    width: 100vw;
    height: fit-content;
    max-width: 1350px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(6, 200px);
    grid-template-rows: repeat(3, 200px);
    grid-template-areas:
      "a b b c c d"
      "e e f c c g"
      "e e h h i g";
    gap: 10px;
}
.img-wrapper a{
    display: block;
}
.image-collage{
    cursor: pointer;
    filter: drop-shadow(7px 5px 10px #3a3a3a2c);
    transition: 1s;
    width: 100%;
    height: 100%;
}
.image-collage:hover{
    filter: drop-shadow(7px 5px 5px #3a3a3a54);
}
.normal{
    height: 200px;
}
.one-image{
    grid-area: a;
}
.two-image{
    grid-area: b;
}
.three-image{
    grid-area: c;
}
.four-image{
    grid-area: d;
}
.five-image{
    grid-area: e;
}
.six-image{
    grid-area: f;
}
.seven-image{
    grid-area: g;
}
.eight-image{
    grid-area: h;
    width: 310px;
}
.nine-image{
    grid-area: i;
    width: 300px;
    position: relative;
    display: block;
    position: absolute;
    right: 0;
}
.most-titles{
    margin-top: 100px;
}
.lb-caption{
    color: #fff;
}

@media (max-width:420px) {
    .img-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .img-wrapper a{
        width: 90vw !important;
        height: auto !important;
        position: static !important;
    }
}