.name-logo{
    display: inline-block;
    font-size: 1.8rem;
    margin-top: 20px;
}
.navbar-brand{
    display: flex;
    align-items: center;
}
.navbar-brand img{
    height: 50px;
}
.navbar{
    padding: 0 .8rem;
    height: 12vh;
    margin-bottom: 1vh;
    background-image: linear-gradient(to bottom, var(--blue), var(--light-blue));
}
.navbar-collapse{
    padding: 1.5vh 2vw;
    border-radius: 5px;
    flex-grow: 0;
    z-index: 3;
}
.nav-link{
    color: #fff;
    width: 100%;
    height: 100%;
}
.nav-item{
    padding: 0 1vw;
}
.nav-item:hover{
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 3px;
}
.nav-item:hover a{
    color: #fff;
}
.navbar-toggler{
    outline: none;
    border: none;
}