*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.05rem;
    color: var(--black);
}
.bubble, .circle{
    z-index: -2;
}
.wave{
    z-index: -3;
}
.card, .msg, .carousel{
    z-index: 2;
}
p{
    margin: 0 10px;
}
:root{
    --blue: #2965C0;
    --light-blue: #5194DB;
    --black: #2b2b2b;
}
body{
    overflow-x: hidden;
}
.container-fluid{
    padding: 0;
}
.typed{
    background-color: var(--blue);
    padding: 1%;
    border-radius: 10px;
}
.destaque{
    font-size: 1.2rem;
}
.carousel{
    width: 550px;
    margin: 0 auto;
}
.carousel-control-prev, .carousel-control-next{
    z-index: 2;
}
.slide{
    transition: 1.5s;
    filter: drop-shadow(7px 5px 10px #3a3a3a2c);
}
.slide:hover{
    filter: drop-shadow(7px 5px 5px #3a3a3a54);
}
.carousel img{
    border-radius: 5px;
}
.wave{
    position: absolute;
    top: 11vh;
    width: 45vw;
}
h2, h1{
    color: var(--black);
}
@media (max-width: 991px)
{
    .carousel{
        width: 100vw;
   }
    .navbar-brand img{
        height: 40px;
   }
    .name-logo{
        font-size: 1.5rem;
   }
    .navbar-collapse{
        background-color: var(--light-blue);
        z-index: 3;
   }
    .circle, .bubble, .wrapper-circle, .wave{
        visibility: hidden;
        width: 0;
        height: 0;
    }
    p{
        color: #000;
    }
    footer{
        position: inherit;
        background-image: none;
    }
    footer .row{
        background-image: linear-gradient(to top, var(--light-blue), var(--blue) 70%);
    }
    footer .col{
        font-size: 0.915rem;
    }
}
.msg h2, .msg p, .destaque{
    color: #fff;
}